body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsla(0, 4%, 16%, 0.185); /* Light background for contrast */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(122, 6, 6, 0.2);
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 2px solid #dedede9a;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(222, 51, 51, 0.1);
}

.square:hover {
  background-color: #e6e6e6;
}

.square::after{
  background-color: aqua;
}